/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* globals */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);

  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;

  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.content-section {
  inline-size: min(100%, 700px);
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0;
  border: 2px solid var(--accent-color);
  padding: clamp(7.5rem, 7.148rem + 1.504vw, 8.5rem) 0 25px;

  font-family: var(--accent-font);
  text-align: left;

  background-color: var(--background-color);
}

.header__title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.504vw, 4.063rem);
  line-height: 1em;
}

.header__subtitle {
  margin-bottom: 23px;

  font-size: clamp(0.875rem, 0.677rem + 0.846vw, 1.438rem);
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  margin-left: 20px;
  border: none;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  display: block;
  inset-inline-start: -14px;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 3px 10px;

  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 21.78px;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;

  border-block-start: 2px solid var(--accent-color);
  padding: 26px 25px 25px;
}

.card__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  font-size: 18px;
  line-height: 21px;
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.like-icon path{
  fill: var(--accent-color);
}

.card__like-button {
  border: 1px solid var(--accent-color);
  padding: 11.5px 36px;

  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  
  background-color: transparent;
}
