/* Здесь вы напишете основную часть стилей страницы.

  Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
  ✦ theme-dark — класс тёмной темы
  ✦ theme-light — класс светлой темы
  ✦ like-icon — для svg-иконки анимированного сердца
  ✦ card__like-button — для кнопки Like рядом с иконкой
  ✦ card__icon-button — для кнопки, оборачивающей иконку
  ✦ card__icon-button — для кнопки, оборачивающей иконку
  ✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
  ✦ button__text — для обозначения текстового элемента внутри кнопки

  Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

  */

/* globals */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);

  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;

  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.content-section {
  inline-size: min(100%, 700px);
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--accent-color);

  color: var(--button-content-color);
  background-color: var(--background-color);

  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}
/* globals */

/* header */    
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0 100px;
  border: 2px solid var(--accent-color);
  padding: clamp(7.5rem, 7.148rem + 1.504vw, 8.5rem) 0 22px;

  font-family: var(--accent-font);
  text-align: left;

  background-color: var(--background-color);
}

.header__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.504vw, 4.063rem);
  line-height: 1em;
}

.header__subtitle {
  margin-bottom: 23px;

  font-size: clamp(0.875rem, 0.677rem + 0.846vw, 1.438rem);
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  position: relative;
  margin-left: 20px;
  border: none;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  background-color: transparent;

  transition: opacity 0.6s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  display: block;
  animation: arrow-movement 0.5s infinite alternate ease-in-out;
  inset-inline-start: -14px;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  margin-top: 1px;
  background-color: var(--accent-color);

  transition: transform 0.3s, opacity 0.3s ease;
  transform: scaleX(0);
  transform-origin: left center;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* cards */
.content__card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  padding: 4px 10px;

  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 21.78px;
}

.card__image-wrapper {
  position: relative;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: calc(100% + 13px);
  aspect-ratio: 1 / 1;
}

.card__image-label {
  position: absolute;

  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1em;
  text-align: left;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);

  inset-inline-end: 25px;
  inset-block-start: 25px;

  mix-blend-mode: hard-light;
}

.card__wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 24px 25px 25px;
}

.card__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;

  font-size: 18px;
  line-height: 21px;
}

/* buttons-wrapper */
.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid;
  border-color: transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

/* svg-icon-styles */
.like-icon .core {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity 0.3s linear 0.03s, fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  opacity: 0;
  fill: var(--accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: ico-scale 0.3s linear 1s;
}

.like-icon.is-liked .sparks {
  animation: ico-sparks 0.3s linear 1.1s;
}
/* svg-icon-styles */

.card__like-button {
  width: 130px;
  height: 40px;

  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;

  background-color: transparent;
}
/* buttons-wrapper */
/* cards */

/* save button */
.content__button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  width: 339px;
  height: 55px;
  margin: 0 auto 100px;
  border: 2px solid var(--accent-color);

  cursor: pointer;
}

.button__floppy-icon {
  width: 21px; 
  height: 21px;
  z-index: 1;
  mix-blend-mode: difference;
}
/* save button */

.content__popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--accent-font);
  padding: 30px;
  inline-size: 357px;
  block-size: 193px;
  color: var(--accent-color);
  transition: opacity 0.3s ease-in-out;
  background-color: var(--background-color);
}

.content__popup:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.content__popup::backdrop {
  background-color: rgb(0 0 0 / 0.6);
}

.popup_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.popop__floppy {
  width: 39px;
  height: 39px;
}

.popup__button {
  height: 38px;
}

.popup__button .button__text {
  
  text-transform: uppercase;
}
/* content */

/* actions */
.button:focus,
.theme-menu__button:focus,
.card__icon-button:focus {
  outline: 0;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.theme-menu__button:not(:disabled):hover {
  opacity: 0.6;
}

.button:hover:after {
  transform: scaleX(1);
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s linear, fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--icon-accent-color);
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear 0.05s;
}
