/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* fonts */
  --main-font: Inter, sans-serif;
  --accent-font: PressStart2P, fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-shadow-color: rgba(255, 255, 255, 0.6);
  /* BG-grad-colors */

  --bg-color-lines: #d3d3d3;
  --bg-color-first: #e7e7e7 0.01%;
  --bg-color-second: #1a1a1a;

  /* page */
  --background-color: #fff;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(
      to right,
      var(--bg-color-lines) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-color-lines) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--bg-color-first), var(--bg-color-second));

  /* buttons */
  --button-content-color: #fff;

  /* icon-variables */
  --icon-accent-color: #ff0000;
  --icon-body-color: none;
  --icon-core-color: none;
}
